Azure QuickStarts/Sample/ARM/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "connections_azureblob_name": {
            "defaultValue": "azureblob",
            "type": "String"
        },
        "topics_ccoesample_name": {
            "defaultValue": "ccoesample",
            "type": "String"
        },
        "connections_azureeventgrid_name": {
            "defaultValue": "azureeventgrid",
            "type": "String"
        },
        "workflows_delete60DayBlobs_name": {
            "defaultValue": "delete60DayBlobs",
            "type": "String"
        },
        "storageAccounts_ccoesample_name": {
            "defaultValue": "ccoesample",
            "type": "String"
        },
        "workspaces_ccoe_name": {
            "defaultValue": "ccoe",
            "type": "String"
        },
        "solutions_AzureActivity(ccoe)_name": {
            "defaultValue": "AzureActivity(ccoe)",
            "type": "String"
        },
        "solutions_LogicAppsManagement(ccoe)_name": {
            "defaultValue": "LogicAppsManagement(ccoe)",
            "type": "String"
        },
        "savedSearches_LogManagement(ccoe)_General|StaleComputers_name": {
            "defaultValue": "LogManagement(ccoe)_General|StaleComputers",
            "type": "String"
        },
        "savedSearches_LogManagement(ccoe)_LogManagement|AllEvents_name": {
            "defaultValue": "LogManagement(ccoe)_LogManagement|AllEvents",
            "type": "String"
        },
        "savedSearches_LogManagement(ccoe)_LogManagement|AllSyslog_name": {
            "defaultValue": "LogManagement(ccoe)_LogManagement|AllSyslog",
            "type": "String"
        },
        "savedSearches_LogManagement(ccoe)_LogManagement|WarningEvents_name": {
            "defaultValue": "LogManagement(ccoe)_LogManagement|WarningEvents",
            "type": "String"
        },
        "savedSearches_LogManagement(ccoe)_General|dataTypeDistribution_name": {
            "defaultValue": "LogManagement(ccoe)_General|dataTypeDistribution",
            "type": "String"
        },
        "savedSearches_LogManagement(ccoe)_LogManagement|EventsByEventLog_name": {
            "defaultValue": "LogManagement(ccoe)_LogManagement|EventsByEventLog",
            "type": "String"
        },
        "savedSearches_LogManagement(ccoe)_LogManagement|EventsByEventsID_name": {
            "defaultValue": "LogManagement(ccoe)_LogManagement|EventsByEventsID",
            "type": "String"
        },
        "savedSearches_LogManagement(ccoe)_LogManagement|Show404PagesList_name": {
            "defaultValue": "LogManagement(ccoe)_LogManagement|Show404PagesList",
            "type": "String"
        },
        "savedSearches_LogManagement(ccoe)_LogManagement|ServerRestartTime_name": {
            "defaultValue": "LogManagement(ccoe)_LogManagement|ServerRestartTime",
            "type": "String"
        },
        "savedSearches_LogManagement(ccoe)_LogManagement|EventsByEventSource_name": {
            "defaultValue": "LogManagement(ccoe)_LogManagement|EventsByEventSource",
            "type": "String"
        },
        "savedSearches_LogManagement(ccoe)_LogManagement|AllSyslogByFacility_name": {
            "defaultValue": "LogManagement(ccoe)_LogManagement|AllSyslogByFacility",
            "type": "String"
        },
        "savedSearches_LogManagement(ccoe)_LogManagement|CountOfWarningEvents_name": {
            "defaultValue": "LogManagement(ccoe)_LogManagement|CountOfWarningEvents",
            "type": "String"
        },
        "savedSearches_LogManagement(ccoe)_LogManagement|ListAllIISLogEntries_name": {
            "defaultValue": "LogManagement(ccoe)_LogManagement|ListAllIISLogEntries",
            "type": "String"
        },
        "savedSearches_LogManagement(ccoe)_LogManagement|AllSyslogsWithErrors_name": {
            "defaultValue": "LogManagement(ccoe)_LogManagement|AllSyslogsWithErrors",
            "type": "String"
        },
        "savedSearches_LogManagement(ccoe)_LogManagement|AllSyslogByProcessName_name": {
            "defaultValue": "LogManagement(ccoe)_LogManagement|AllSyslogByProcessName",
            "type": "String"
        },
        "savedSearches_LogManagement(ccoe)_General|dataPointsPerManagementGroup_name": {
            "defaultValue": "LogManagement(ccoe)_General|dataPointsPerManagementGroup",
            "type": "String"
        },
        "savedSearches_LogManagement(ccoe)_General|AlphabeticallySortedComputers_name": {
            "defaultValue": "LogManagement(ccoe)_General|AlphabeticallySortedComputers",
            "type": "String"
        },
        "savedSearches_LogManagement(ccoe)_LogManagement|IISLogEntriesForClientIP_name": {
            "defaultValue": "LogManagement(ccoe)_LogManagement|IISLogEntriesForClientIP",
            "type": "String"
        },
        "savedSearches_LogManagement(ccoe)_LogManagement|EventsWithStartedinEventID_name": {
            "defaultValue": "LogManagement(ccoe)_LogManagement|EventsWithStartedinEventID",
            "type": "String"
        },
        "savedSearches_LogManagement(ccoe)_LogManagement|EventsInOMBetween2000to3000_name": {
            "defaultValue": "LogManagement(ccoe)_LogManagement|EventsInOMBetween2000to3000",
            "type": "String"
        },
        "savedSearches_LogManagement(ccoe)_LogManagement|DisplayBreakdownRespondCodes_name": {
            "defaultValue": "LogManagement(ccoe)_LogManagement|DisplayBreakdownRespondCodes",
            "type": "String"
        },
        "savedSearches_LogManagement(ccoe)_LogManagement|NoOfConnectionsToOMSDKService_name": {
            "defaultValue": "LogManagement(ccoe)_LogManagement|NoOfConnectionsToOMSDKService",
            "type": "String"
        },
        "savedSearches_LogManagement(ccoe)_LogManagement|FindMaximumTimeTakenForEachPage_name": {
            "defaultValue": "LogManagement(ccoe)_LogManagement|FindMaximumTimeTakenForEachPage",
            "type": "String"
        },
        "savedSearches_LogManagement(ccoe)_LogManagement|CountIISLogEntriesHTTPUserAgent_name": {
            "defaultValue": "LogManagement(ccoe)_LogManagement|CountIISLogEntriesHTTPUserAgent",
            "type": "String"
        },
        "savedSearches_LogManagement(ccoe)_LogManagement|TotalBytesSentByClientIPAddress_name": {
            "defaultValue": "LogManagement(ccoe)_LogManagement|TotalBytesSentByClientIPAddress",
            "type": "String"
        },
        "savedSearches_LogManagement(ccoe)_LogManagement|AverageHTTPRequestTimeHTTPMethod_name": {
            "defaultValue": "LogManagement(ccoe)_LogManagement|AverageHTTPRequestTimeHTTPMethod",
            "type": "String"
        },
        "savedSearches_LogManagement(ccoe)_LogManagement|CountOfIISLogEntriesByURLForHost_name": {
            "defaultValue": "LogManagement(ccoe)_LogManagement|CountOfIISLogEntriesByURLForHost",
            "type": "String"
        },
        "savedSearches_LogManagement(ccoe)_LogManagement|CountIISLogEntriesClientIPAddress_name": {
            "defaultValue": "LogManagement(ccoe)_LogManagement|CountIISLogEntriesClientIPAddress",
            "type": "String"
        },
        "savedSearches_LogManagement(ccoe)_LogManagement|CountIISLogEntriesHTTPRequestMethod_name": {
            "defaultValue": "LogManagement(ccoe)_LogManagement|CountIISLogEntriesHTTPRequestMethod",
            "type": "String"
        },
        "savedSearches_LogManagement(ccoe)_LogManagement|TotalBytesReceivedByEachIISComputer_name": {
            "defaultValue": "LogManagement(ccoe)_LogManagement|TotalBytesReceivedByEachIISComputer",
            "type": "String"
        },
        "savedSearches_LogManagement(ccoe)_LogManagement|WindowsFireawallPolicySettingsChanged_name": {
            "defaultValue": "LogManagement(ccoe)_LogManagement|WindowsFireawallPolicySettingsChanged",
            "type": "String"
        },
        "savedSearches_LogManagement(ccoe)_LogManagement|ShowServersThrowingInternalServerError_name": {
            "defaultValue": "LogManagement(ccoe)_LogManagement|ShowServersThrowingInternalServerError",
            "type": "String"
        },
        "savedSearches_LogManagement(ccoe)_LogManagement|AverageHTTPRequestTimeByClientIPAddress_name": {
            "defaultValue": "LogManagement(ccoe)_LogManagement|AverageHTTPRequestTimeByClientIPAddress",
            "type": "String"
        },
        "savedSearches_LogManagement(ccoe)_LogManagement|TotalBytesReceivedByEachAzureRoleInstance_name": {
            "defaultValue": "LogManagement(ccoe)_LogManagement|TotalBytesReceivedByEachAzureRoleInstance",
            "type": "String"
        },
        "savedSearches_LogManagement(ccoe)_LogManagement|CountOfIISLogEntriesByURLRequestedByClient_name": {
            "defaultValue": "LogManagement(ccoe)_LogManagement|CountOfIISLogEntriesByURLRequestedByClient",
            "type": "String"
        },
        "savedSearches_LogManagement(ccoe)_LogManagement|CountOfIISLogEntriesByHostRequestedByClient_name": {
            "defaultValue": "LogManagement(ccoe)_LogManagement|CountOfIISLogEntriesByHostRequestedByClient",
            "type": "String"
        },
        "savedSearches_LogManagement(ccoe)_LogManagement|TotalBytesRespondedToClientsByClientIPAddress_name": {
            "defaultValue": "LogManagement(ccoe)_LogManagement|TotalBytesRespondedToClientsByClientIPAddress",
            "type": "String"
        },
        "savedSearches_LogManagement(ccoe)_LogManagement|WindowsFireawallPolicySettingsChangedByMachines_name": {
            "defaultValue": "LogManagement(ccoe)_LogManagement|WindowsFireawallPolicySettingsChangedByMachines",
            "type": "String"
        },
        "savedSearches_LogManagement(ccoe)_LogManagement|TotalBytesRespondedToClientsByEachIISServerIPAddress_name": {
            "defaultValue": "LogManagement(ccoe)_LogManagement|TotalBytesRespondedToClientsByEachIISServerIPAddress",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "comments": "Generalized from resource: '/subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourceGroups/ccoe/providers/Microsoft.EventGrid/topics/ccoesample'.",
            "type": "Microsoft.EventGrid/topics",
            "name": "[parameters('topics_ccoesample_name')]",
            "apiVersion": "2018-01-01",
            "location": "centralus",
            "scale": null,
            "properties": {
                "provisioningState": "Succeeded",
                "endpoint": "[concat('https://', parameters('topics_ccoesample_name'),'.centralus-1.eventgrid.azure.net/api/events')]",
                "inputSchema": "EventGridSchema"
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: '/subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourceGroups/ccoe/providers/Microsoft.Logic/workflows/delete60DayBlobs'.",
            "type": "Microsoft.Logic/workflows",
            "name": "[parameters('workflows_delete60DayBlobs_name')]",
            "apiVersion": "2017-07-01",
            "location": "centralus",
            "tags": {},
            "scale": null,
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_a_resource_event_occurs": {
                            "splitOn": "@triggerBody()",
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "properties": {
                                        "destination": {
                                            "endpointType": "webhook",
                                            "properties": {
                                                "endpointUrl": "@{listCallbackUrl()}"
                                            }
                                        },
                                        "topic": "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_ccoesample_name'))]"
                                    }
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureeventgrid']['connectionId']"
                                    }
                                },
                                "path": "/subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/providers/@{encodeURIComponent('Microsoft.Storage.StorageAccounts')}/resource/eventSubscriptions",
                                "queries": {
                                    "x-ms-api-version": "2017-09-15-preview"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Condition": {
                            "actions": {
                                "Compose": {
                                    "runAfter": {
                                        "Delay": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Compose",
                                    "inputs": "@{split(triggerBody()?['subject'], '/')?[4]}/@{split(triggerBody()?['subject'], '/')?[6]}"
                                },
                                "Delay": {
                                    "runAfter": {},
                                    "type": "Wait",
                                    "inputs": {
                                        "interval": {
                                            "count": 1,
                                            "unit": "Minute"
                                        }
                                    }
                                },
                                "Delete_blob": {
                                    "runAfter": {
                                        "Compose": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azureblob_1']['connectionId']"
                                            }
                                        },
                                        "method": "delete",
                                        "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(outputs('Compose')))}"
                                    }
                                }
                            },
                            "runAfter": {},
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@triggerBody()?['eventType']",
                                            "Microsoft.Storage.BlobCreated"
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azureblob_1": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_azureblob_name'))]",
                                "connectionName": "azureblob",
                                "id": "/subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/providers/Microsoft.Web/locations/centralus/managedApis/azureblob"
                            },
                            "azureeventgrid": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_azureeventgrid_name'))]",
                                "connectionName": "azureeventgrid",
                                "id": "/subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/providers/Microsoft.Web/locations/centralus/managedApis/azureeventgrid"
                            }
                        }
                    }
                }
            },
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_ccoesample_name'))]",
                "[resourceId('Microsoft.Web/connections', parameters('connections_azureblob_name'))]",
                "[resourceId('Microsoft.Web/connections', parameters('connections_azureeventgrid_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourcegroups/ccoe/providers/microsoft.operationalinsights/workspaces/ccoe'.",
            "type": "microsoft.operationalinsights/workspaces",
            "name": "[parameters('workspaces_ccoe_name')]",
            "apiVersion": "2015-11-01-preview",
            "location": "eastus",
            "scale": null,
            "properties": {
                "source": "Azure",
                "customerId": "9233638b-51ee-4fe1-a5fd-e962d938dbec",
                "portalUrl": "[concat('https://eus.mms.microsoft.com/Account?tenant=f7c416ac-70c9-41cc-bc0d-ed48f2753cd7&resource=%2fsubscriptions%2ff30702c5-148a-4ea6-baec-cca1d09e6c14%2fresourcegroups%2f', parameters('workspaces_ccoe_name'),'%2fproviders%2fmicrosoft.operationalinsights%2fworkspaces%2f', parameters('workspaces_ccoe_name'))]",
                "provisioningState": "Succeeded",
                "sku": {
                    "name": "pergb2018"
                },
                "retentionInDays": 30
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: '/subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourcegroups/ccoe/providers/Microsoft.OperationsManagement/solutions/AzureActivity(ccoe)'.",
            "type": "Microsoft.OperationsManagement/solutions",
            "name": "[parameters('solutions_AzureActivity(ccoe)_name')]",
            "apiVersion": "2015-11-01-preview",
            "location": "East US",
            "plan": {
                "name": "AzureActivity(ccoe)",
                "promotionCode": "",
                "product": "OMSGallery/AzureActivity",
                "publisher": "Microsoft"
            },
            "scale": null,
            "properties": {
                "workspaceResourceId": "[resourceId('microsoft.operationalinsights/workspaces', parameters('workspaces_ccoe_name'))]",
                "containedResources": [
                    "/subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourcegroups/ccoe/providers/microsoft.operationalinsights/workspaces/ccoe/views/AzureActivity(ccoe)"
                ]
            },
            "dependsOn": [
                "[resourceId('microsoft.operationalinsights/workspaces', parameters('workspaces_ccoe_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourcegroups/ccoe/providers/Microsoft.OperationsManagement/solutions/LogicAppsManagement(ccoe)'.",
            "type": "Microsoft.OperationsManagement/solutions",
            "name": "[parameters('solutions_LogicAppsManagement(ccoe)_name')]",
            "apiVersion": "2015-11-01-preview",
            "location": "East US",
            "plan": {
                "name": "LogicAppsManagement(ccoe)",
                "promotionCode": "",
                "product": "OMSGallery/LogicAppsManagement",
                "publisher": "Microsoft"
            },
            "scale": null,
            "properties": {
                "workspaceResourceId": "[resourceId('microsoft.operationalinsights/workspaces', parameters('workspaces_ccoe_name'))]",
                "containedResources": [
                    "/subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourcegroups/ccoe/providers/microsoft.operationalinsights/workspaces/ccoe/views/LogicAppsManagement(ccoe)"
                ]
            },
            "dependsOn": [
                "[resourceId('microsoft.operationalinsights/workspaces', parameters('workspaces_ccoe_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourceGroups/ccoe/providers/Microsoft.Storage/storageAccounts/ccoesample'.",
            "type": "Microsoft.Storage/storageAccounts",
            "sku": {
                "name": "Standard_LRS",
                "tier": "Standard"
            },
            "kind": "StorageV2",
            "name": "[parameters('storageAccounts_ccoesample_name')]",
            "apiVersion": "2018-07-01",
            "location": "centralus",
            "tags": {},
            "scale": null,
            "properties": {
                "networkAcls": {
                    "bypass": "AzureServices",
                    "virtualNetworkRules": [],
                    "ipRules": [],
                    "defaultAction": "Allow"
                },
                "supportsHttpsTrafficOnly": true,
                "encryption": {
                    "services": {
                        "file": {
                            "enabled": true
                        },
                        "blob": {
                            "enabled": true
                        }
                    },
                    "keySource": "Microsoft.Storage"
                },
                "accessTier": "Hot"
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: '/subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourceGroups/ccoe/providers/Microsoft.Web/connections/azureblob'.",
            "type": "Microsoft.Web/connections",
            "name": "[parameters('connections_azureblob_name')]",
            "apiVersion": "2016-06-01",
            "location": "centralus",
            "scale": null,
            "properties": {
                "displayName": "ccoe storage connection",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/providers/Microsoft.Web/locations/centralus/managedApis/', parameters('connections_azureblob_name'))]"
                }
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: '/subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourceGroups/ccoe/providers/Microsoft.Web/connections/azureeventgrid'.",
            "type": "Microsoft.Web/connections",
            "name": "[parameters('connections_azureeventgrid_name')]",
            "apiVersion": "2016-06-01",
            "location": "centralus",
            "scale": null,
            "properties": {
                "displayName": "Jacob.Benson@siriuscom.com",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/providers/Microsoft.Web/locations/centralus/managedApis/', parameters('connections_azureeventgrid_name'))]"
                }
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: 'subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourceGroups/ccoe/providers/Microsoft.OperationalInsights/workspaces/ccoe/savedSearches/LogManagement(ccoe)_LogManagement|AllEvents'.",
            "type": "Microsoft.OperationalInsights/workspaces/savedSearches",
            "name": "[concat(parameters('workspaces_ccoe_name'), '/', parameters('savedSearches_LogManagement(ccoe)_LogManagement|AllEvents_name'))]",
            "apiVersion": "2015-03-20",
            "scale": null,
            "properties": {
                "DisplayName": "All Events",
                "Category": "Log Management",
                "Query": "Event | sort by TimeGenerated desc\r\n// Oql: Type=Event // Args: {OQ: True; WorkspaceId: 00000000-0000-0000-0000-000000000000} // Settings: {PTT: True; SortI: True; SortF: True} // Version: 0.1.122",
                "Version": 2
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: 'subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourceGroups/ccoe/providers/Microsoft.OperationalInsights/workspaces/ccoe/savedSearches/LogManagement(ccoe)_LogManagement|EventsWithStartedinEventID'.",
            "type": "Microsoft.OperationalInsights/workspaces/savedSearches",
            "name": "[concat(parameters('workspaces_ccoe_name'), '/', parameters('savedSearches_LogManagement(ccoe)_LogManagement|EventsWithStartedinEventID_name'))]",
            "apiVersion": "2015-03-20",
            "scale": null,
            "properties": {
                "DisplayName": "Count of Events containing the word \"started\" grouped by EventID",
                "Category": "Log Management",
                "Query": "search in (Event) \"started\" | summarize AggregatedValue = count() by EventID\r\n// Oql: Type=Event \"started\" | Measure count() by EventID // Args: {OQ: True; WorkspaceId: 00000000-0000-0000-0000-000000000000} // Settings: {PTT: True; SortI: True; SortF: True} // Version: 0.1.122",
                "Version": 2
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: 'subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourceGroups/ccoe/providers/Microsoft.OperationalInsights/workspaces/ccoe/savedSearches/LogManagement(ccoe)_LogManagement|EventsByEventLog'.",
            "type": "Microsoft.OperationalInsights/workspaces/savedSearches",
            "name": "[concat(parameters('workspaces_ccoe_name'), '/', parameters('savedSearches_LogManagement(ccoe)_LogManagement|EventsByEventLog_name'))]",
            "apiVersion": "2015-03-20",
            "scale": null,
            "properties": {
                "DisplayName": "Count of Events grouped by Event Log",
                "Category": "Log Management",
                "Query": "Event | summarize AggregatedValue = count() by EventLog\r\n// Oql: Type=Event | Measure count() by EventLog // Args: {OQ: True; WorkspaceId: 00000000-0000-0000-0000-000000000000} // Settings: {PTT: True; SortI: True; SortF: True} // Version: 0.1.122",
                "Version": 2
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: 'subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourceGroups/ccoe/providers/Microsoft.OperationalInsights/workspaces/ccoe/savedSearches/LogManagement(ccoe)_LogManagement|EventsByEventSource'.",
            "type": "Microsoft.OperationalInsights/workspaces/savedSearches",
            "name": "[concat(parameters('workspaces_ccoe_name'), '/', parameters('savedSearches_LogManagement(ccoe)_LogManagement|EventsByEventSource_name'))]",
            "apiVersion": "2015-03-20",
            "scale": null,
            "properties": {
                "DisplayName": "Count of Events grouped by Event Source",
                "Category": "Log Management",
                "Query": "Event | summarize AggregatedValue = count() by Source\r\n// Oql: Type=Event | Measure count() by Source // Args: {OQ: True; WorkspaceId: 00000000-0000-0000-0000-000000000000} // Settings: {PTT: True; SortI: True; SortF: True} // Version: 0.1.122",
                "Version": 2
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: 'subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourceGroups/ccoe/providers/Microsoft.OperationalInsights/workspaces/ccoe/savedSearches/LogManagement(ccoe)_LogManagement|EventsByEventsID'.",
            "type": "Microsoft.OperationalInsights/workspaces/savedSearches",
            "name": "[concat(parameters('workspaces_ccoe_name'), '/', parameters('savedSearches_LogManagement(ccoe)_LogManagement|EventsByEventsID_name'))]",
            "apiVersion": "2015-03-20",
            "scale": null,
            "properties": {
                "DisplayName": "Count of Events grouped by Event ID",
                "Category": "Log Management",
                "Query": "Event | summarize AggregatedValue = count() by EventID\r\n// Oql: Type=Event | Measure count() by EventID // Args: {OQ: True; WorkspaceId: 00000000-0000-0000-0000-000000000000} // Settings: {PTT: True; SortI: True; SortF: True} // Version: 0.1.122",
                "Version": 2
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: 'subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourceGroups/ccoe/providers/Microsoft.OperationalInsights/workspaces/ccoe/savedSearches/LogManagement(ccoe)_LogManagement|WarningEvents'.",
            "type": "Microsoft.OperationalInsights/workspaces/savedSearches",
            "name": "[concat(parameters('workspaces_ccoe_name'), '/', parameters('savedSearches_LogManagement(ccoe)_LogManagement|WarningEvents_name'))]",
            "apiVersion": "2015-03-20",
            "scale": null,
            "properties": {
                "DisplayName": "All Events with level \"Warning\"",
                "Category": "Log Management",
                "Query": "Event | where EventLevelName == \"warning\" | sort by TimeGenerated desc\r\n// Oql: Type=Event EventLevelName=warning // Args: {OQ: True; WorkspaceId: 00000000-0000-0000-0000-000000000000} // Settings: {PTT: True; SortI: True; SortF: True} // Version: 0.1.122",
                "Version": 2
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: 'subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourceGroups/ccoe/providers/Microsoft.OperationalInsights/workspaces/ccoe/savedSearches/LogManagement(ccoe)_LogManagement|CountOfWarningEvents'.",
            "type": "Microsoft.OperationalInsights/workspaces/savedSearches",
            "name": "[concat(parameters('workspaces_ccoe_name'), '/', parameters('savedSearches_LogManagement(ccoe)_LogManagement|CountOfWarningEvents_name'))]",
            "apiVersion": "2015-03-20",
            "scale": null,
            "properties": {
                "DisplayName": "Count of Events with level \"Warning\" grouped by Event ID",
                "Category": "Log Management",
                "Query": "Event | where EventLevelName == \"warning\" | summarize AggregatedValue = count() by EventID\r\n// Oql: Type=Event EventLevelName=warning | Measure count() by EventID // Args: {OQ: True; WorkspaceId: 00000000-0000-0000-0000-000000000000} // Settings: {PTT: True; SortI: True; SortF: True} // Version: 0.1.122",
                "Version": 2
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: 'subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourceGroups/ccoe/providers/Microsoft.OperationalInsights/workspaces/ccoe/savedSearches/LogManagement(ccoe)_LogManagement|NoOfConnectionsToOMSDKService'.",
            "type": "Microsoft.OperationalInsights/workspaces/savedSearches",
            "name": "[concat(parameters('workspaces_ccoe_name'), '/', parameters('savedSearches_LogManagement(ccoe)_LogManagement|NoOfConnectionsToOMSDKService_name'))]",
            "apiVersion": "2015-03-20",
            "scale": null,
            "properties": {
                "DisplayName": "How many connections to Operations Manager's SDK service by day",
                "Category": "Log Management",
                "Query": "Event | where EventID == 26328 and EventLog == \"Operations Manager\" | summarize AggregatedValue = count() by bin(TimeGenerated, 1d) | sort by TimeGenerated desc\r\n// Oql: Type=Event EventID=26328 EventLog=\"Operations Manager\" | Measure count() interval 1DAY // Args: {OQ: True; WorkspaceId: 00000000-0000-0000-0000-000000000000} // Settings: {PTT: True; SortI: True; SortF: True} // Version: 0.1.122",
                "Version": 2
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: 'subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourceGroups/ccoe/providers/Microsoft.OperationalInsights/workspaces/ccoe/savedSearches/LogManagement(ccoe)_LogManagement|EventsInOMBetween2000to3000'.",
            "type": "Microsoft.OperationalInsights/workspaces/savedSearches",
            "name": "[concat(parameters('workspaces_ccoe_name'), '/', parameters('savedSearches_LogManagement(ccoe)_LogManagement|EventsInOMBetween2000to3000_name'))]",
            "apiVersion": "2015-03-20",
            "scale": null,
            "properties": {
                "DisplayName": "Events in the Operations Manager Event Log whose Event ID is in the range between 2000 and 3000",
                "Category": "Log Management",
                "Query": "Event | where EventLog == \"Operations Manager\" and EventID >= 2000 and EventID <= 3000 | sort by TimeGenerated desc\r\n// Oql: Type=Event EventLog=\"Operations Manager\" EventID:[2000..3000] // Args: {OQ: True; WorkspaceId: 00000000-0000-0000-0000-000000000000} // Settings: {PTT: True; SortI: True; SortF: True} // Version: 0.1.122",
                "Version": 2
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: 'subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourceGroups/ccoe/providers/Microsoft.OperationalInsights/workspaces/ccoe/savedSearches/LogManagement(ccoe)_LogManagement|ServerRestartTime'.",
            "type": "Microsoft.OperationalInsights/workspaces/savedSearches",
            "name": "[concat(parameters('workspaces_ccoe_name'), '/', parameters('savedSearches_LogManagement(ccoe)_LogManagement|ServerRestartTime_name'))]",
            "apiVersion": "2015-03-20",
            "scale": null,
            "properties": {
                "DisplayName": "When did my servers initiate restart?",
                "Category": "Log Management",
                "Query": "search in (Event) \"shutdown\" and EventLog == \"System\" and Source == \"User32\" and EventID == 1074 | sort by TimeGenerated desc | project TimeGenerated, Computer\r\n// Oql: shutdown Type=Event EventLog=System Source=User32 EventID=1074 | Select TimeGenerated,Computer // Args: {OQ: True; WorkspaceId: 00000000-0000-0000-0000-000000000000} // Settings: {PTT: True; SortI: True; SortF: True} // Version: 0.1.122",
                "Version": 2
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: 'subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourceGroups/ccoe/providers/Microsoft.OperationalInsights/workspaces/ccoe/savedSearches/LogManagement(ccoe)_LogManagement|WindowsFireawallPolicySettingsChanged'.",
            "type": "Microsoft.OperationalInsights/workspaces/savedSearches",
            "name": "[concat(parameters('workspaces_ccoe_name'), '/', parameters('savedSearches_LogManagement(ccoe)_LogManagement|WindowsFireawallPolicySettingsChanged_name'))]",
            "apiVersion": "2015-03-20",
            "scale": null,
            "properties": {
                "DisplayName": "Windows Firewall Policy settings have changed",
                "Category": "Log Management",
                "Query": "Event | where EventLog == \"Microsoft-Windows-Windows Firewall With Advanced Security/Firewall\" and EventID == 2008 | sort by TimeGenerated desc\r\n// Oql: Type=Event EventLog=\"Microsoft-Windows-Windows Firewall With Advanced Security/Firewall\" EventID=2008 // Args: {OQ: True; WorkspaceId: 00000000-0000-0000-0000-000000000000} // Settings: {PTT: True; SortI: True; SortF: True} // Version: 0.1.122",
                "Version": 2
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: 'subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourceGroups/ccoe/providers/Microsoft.OperationalInsights/workspaces/ccoe/savedSearches/LogManagement(ccoe)_LogManagement|WindowsFireawallPolicySettingsChangedByMachines'.",
            "type": "Microsoft.OperationalInsights/workspaces/savedSearches",
            "name": "[concat(parameters('workspaces_ccoe_name'), '/', parameters('savedSearches_LogManagement(ccoe)_LogManagement|WindowsFireawallPolicySettingsChangedByMachines_name'))]",
            "apiVersion": "2015-03-20",
            "scale": null,
            "properties": {
                "DisplayName": "On which machines and how many times have Windows Firewall Policy settings changed",
                "Category": "Log Management",
                "Query": "Event | where EventLog == \"Microsoft-Windows-Windows Firewall With Advanced Security/Firewall\" and EventID == 2008 | summarize AggregatedValue = count() by Computer | limit 500000\r\n// Oql: Type=Event EventLog=\"Microsoft-Windows-Windows Firewall With Advanced Security/Firewall\" EventID=2008 | measure count() by Computer | top 500000 // Args: {OQ: True; WorkspaceId: 00000000-0000-0000-0000-000000000000} // Settings: {PTT: True; SortI: True; SortF: True} // Version: 0.1.122",
                "Version": 2
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: 'subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourceGroups/ccoe/providers/Microsoft.OperationalInsights/workspaces/ccoe/savedSearches/LogManagement(ccoe)_LogManagement|ListAllIISLogEntries'.",
            "type": "Microsoft.OperationalInsights/workspaces/savedSearches",
            "name": "[concat(parameters('workspaces_ccoe_name'), '/', parameters('savedSearches_LogManagement(ccoe)_LogManagement|ListAllIISLogEntries_name'))]",
            "apiVersion": "2015-03-20",
            "scale": null,
            "properties": {
                "DisplayName": "All IIS Log Entries",
                "Category": "Log Management",
                "Query": "search * | extend Type = $table | where Type == W3CIISLog | sort by TimeGenerated desc\r\n// Oql: Type=W3CIISLog // Args: {OQ: True; WorkspaceId: 00000000-0000-0000-0000-000000000000} // Settings: {PEF: True; SortI: True; SortF: True} // Version: 0.1.122",
                "Version": 2
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: 'subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourceGroups/ccoe/providers/Microsoft.OperationalInsights/workspaces/ccoe/savedSearches/LogManagement(ccoe)_LogManagement|DisplayBreakdownRespondCodes'.",
            "type": "Microsoft.OperationalInsights/workspaces/savedSearches",
            "name": "[concat(parameters('workspaces_ccoe_name'), '/', parameters('savedSearches_LogManagement(ccoe)_LogManagement|DisplayBreakdownRespondCodes_name'))]",
            "apiVersion": "2015-03-20",
            "scale": null,
            "properties": {
                "DisplayName": "Shows breakdown of response codes",
                "Category": "Log Management",
                "Query": "search * | extend Type = $table | where Type == W3CIISLog | summarize AggregatedValue = count() by scStatus\r\n// Oql: Type=W3CIISLog | Measure count() by scStatus // Args: {OQ: True; WorkspaceId: 00000000-0000-0000-0000-000000000000} // Settings: {PEF: True; SortI: True; SortF: True} // Version: 0.1.122",
                "Version": 2
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: 'subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourceGroups/ccoe/providers/Microsoft.OperationalInsights/workspaces/ccoe/savedSearches/LogManagement(ccoe)_LogManagement|FindMaximumTimeTakenForEachPage'.",
            "type": "Microsoft.OperationalInsights/workspaces/savedSearches",
            "name": "[concat(parameters('workspaces_ccoe_name'), '/', parameters('savedSearches_LogManagement(ccoe)_LogManagement|FindMaximumTimeTakenForEachPage_name'))]",
            "apiVersion": "2015-03-20",
            "scale": null,
            "properties": {
                "DisplayName": "Find the maximum time taken for each page",
                "Category": "Log Management",
                "Query": "search * | extend Type = $table | where Type == W3CIISLog | summarize AggregatedValue = max(TimeTaken) by csUriStem\r\n// Oql: Type=W3CIISLog | Measure Max(TimeTaken) by csUriStem // Args: {OQ: True; WorkspaceId: 00000000-0000-0000-0000-000000000000} // Settings: {PEF: True; SortI: True; SortF: True} // Version: 0.1.122",
                "Version": 2
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: 'subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourceGroups/ccoe/providers/Microsoft.OperationalInsights/workspaces/ccoe/savedSearches/LogManagement(ccoe)_LogManagement|Show404PagesList'.",
            "type": "Microsoft.OperationalInsights/workspaces/savedSearches",
            "name": "[concat(parameters('workspaces_ccoe_name'), '/', parameters('savedSearches_LogManagement(ccoe)_LogManagement|Show404PagesList_name'))]",
            "apiVersion": "2015-03-20",
            "scale": null,
            "properties": {
                "DisplayName": "Shows which pages people are getting a 404 for",
                "Category": "Log Management",
                "Query": "search scStatus == 404 | extend Type = $table | where Type == W3CIISLog | summarize AggregatedValue = count() by csUriStem\r\n// Oql: Type=W3CIISLog scStatus=404 | Measure count() by csUriStem // Args: {OQ: True; WorkspaceId: 00000000-0000-0000-0000-000000000000} // Settings: {PEF: True; SortI: True; SortF: True} // Version: 0.1.122",
                "Version": 2
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: 'subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourceGroups/ccoe/providers/Microsoft.OperationalInsights/workspaces/ccoe/savedSearches/LogManagement(ccoe)_LogManagement|AverageHTTPRequestTimeHTTPMethod'.",
            "type": "Microsoft.OperationalInsights/workspaces/savedSearches",
            "name": "[concat(parameters('workspaces_ccoe_name'), '/', parameters('savedSearches_LogManagement(ccoe)_LogManagement|AverageHTTPRequestTimeHTTPMethod_name'))]",
            "apiVersion": "2015-03-20",
            "scale": null,
            "properties": {
                "DisplayName": "Average HTTP Request time by HTTP Method",
                "Category": "Log Management",
                "Query": "search * | extend Type = $table | where Type == W3CIISLog | summarize AggregatedValue = avg(TimeTaken) by csMethod\r\n// Oql: Type=W3CIISLog | Measure Avg(TimeTaken) by csMethod // Args: {OQ: True; WorkspaceId: 00000000-0000-0000-0000-000000000000} // Settings: {PEF: True; SortI: True; SortF: True} // Version: 0.1.122",
                "Version": 2
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: 'subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourceGroups/ccoe/providers/Microsoft.OperationalInsights/workspaces/ccoe/savedSearches/LogManagement(ccoe)_LogManagement|ShowServersThrowingInternalServerError'.",
            "type": "Microsoft.OperationalInsights/workspaces/savedSearches",
            "name": "[concat(parameters('workspaces_ccoe_name'), '/', parameters('savedSearches_LogManagement(ccoe)_LogManagement|ShowServersThrowingInternalServerError_name'))]",
            "apiVersion": "2015-03-20",
            "scale": null,
            "properties": {
                "DisplayName": "Shows servers that are throwing internal server error",
                "Category": "Log Management",
                "Query": "search scStatus == 500 | extend Type = $table | where Type == W3CIISLog | summarize AggregatedValue = count() by sComputerName\r\n// Oql: Type=W3CIISLog scStatus=500 | Measure count() by sComputerName // Args: {OQ: True; WorkspaceId: 00000000-0000-0000-0000-000000000000} // Settings: {PEF: True; SortI: True; SortF: True} // Version: 0.1.122",
                "Version": 2
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: 'subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourceGroups/ccoe/providers/Microsoft.OperationalInsights/workspaces/ccoe/savedSearches/LogManagement(ccoe)_LogManagement|CountIISLogEntriesHTTPRequestMethod'.",
            "type": "Microsoft.OperationalInsights/workspaces/savedSearches",
            "name": "[concat(parameters('workspaces_ccoe_name'), '/', parameters('savedSearches_LogManagement(ccoe)_LogManagement|CountIISLogEntriesHTTPRequestMethod_name'))]",
            "apiVersion": "2015-03-20",
            "scale": null,
            "properties": {
                "DisplayName": "Count of IIS Log Entries by HTTP Request Method",
                "Category": "Log Management",
                "Query": "search * | extend Type = $table | where Type == W3CIISLog | summarize AggregatedValue = count() by csMethod\r\n// Oql: Type=W3CIISLog | Measure count() by csMethod // Args: {OQ: True; WorkspaceId: 00000000-0000-0000-0000-000000000000} // Settings: {PEF: True; SortI: True; SortF: True} // Version: 0.1.122",
                "Version": 2
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: 'subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourceGroups/ccoe/providers/Microsoft.OperationalInsights/workspaces/ccoe/savedSearches/LogManagement(ccoe)_LogManagement|CountIISLogEntriesHTTPUserAgent'.",
            "type": "Microsoft.OperationalInsights/workspaces/savedSearches",
            "name": "[concat(parameters('workspaces_ccoe_name'), '/', parameters('savedSearches_LogManagement(ccoe)_LogManagement|CountIISLogEntriesHTTPUserAgent_name'))]",
            "apiVersion": "2015-03-20",
            "scale": null,
            "properties": {
                "DisplayName": "Count of IIS Log Entries by HTTP User Agent",
                "Category": "Log Management",
                "Query": "search * | extend Type = $table | where Type == W3CIISLog | summarize AggregatedValue = count() by csUserAgent\r\n// Oql: Type=W3CIISLog | Measure count() by csUserAgent // Args: {OQ: True; WorkspaceId: 00000000-0000-0000-0000-000000000000} // Settings: {PEF: True; SortI: True; SortF: True} // Version: 0.1.122",
                "Version": 2
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: 'subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourceGroups/ccoe/providers/Microsoft.OperationalInsights/workspaces/ccoe/savedSearches/LogManagement(ccoe)_LogManagement|CountIISLogEntriesClientIPAddress'.",
            "type": "Microsoft.OperationalInsights/workspaces/savedSearches",
            "name": "[concat(parameters('workspaces_ccoe_name'), '/', parameters('savedSearches_LogManagement(ccoe)_LogManagement|CountIISLogEntriesClientIPAddress_name'))]",
            "apiVersion": "2015-03-20",
            "scale": null,
            "properties": {
                "DisplayName": "Count of IIS Log Entries by Client IP Address",
                "Category": "Log Management",
                "Query": "search * | extend Type = $table | where Type == W3CIISLog | summarize AggregatedValue = count() by cIP\r\n// Oql: Type=W3CIISLog | Measure count() by cIP // Args: {OQ: True; WorkspaceId: 00000000-0000-0000-0000-000000000000} // Settings: {PEF: True; SortI: True; SortF: True} // Version: 0.1.122",
                "Version": 2
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: 'subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourceGroups/ccoe/providers/Microsoft.OperationalInsights/workspaces/ccoe/savedSearches/LogManagement(ccoe)_LogManagement|IISLogEntriesForClientIP'.",
            "type": "Microsoft.OperationalInsights/workspaces/savedSearches",
            "name": "[concat(parameters('workspaces_ccoe_name'), '/', parameters('savedSearches_LogManagement(ccoe)_LogManagement|IISLogEntriesForClientIP_name'))]",
            "apiVersion": "2015-03-20",
            "scale": null,
            "properties": {
                "DisplayName": "IIS Log Entries for a specific client IP Address (replace with your own)",
                "Category": "Log Management",
                "Query": "search cIP == \"192.168.0.1\" | extend Type = $table | where Type == W3CIISLog | sort by TimeGenerated desc | project csUriStem, scBytes, csBytes, TimeTaken, scStatus\r\n// Oql: Type=W3CIISLog cIP=\"192.168.0.1\" | Select csUriStem,scBytes,csBytes,TimeTaken,scStatus // Args: {OQ: True; WorkspaceId: 00000000-0000-0000-0000-000000000000} // Settings: {PEF: True; SortI: True; SortF: True} // Version: 0.1.122",
                "Version": 2
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: 'subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourceGroups/ccoe/providers/Microsoft.OperationalInsights/workspaces/ccoe/savedSearches/LogManagement(ccoe)_LogManagement|CountOfIISLogEntriesByURLRequestedByClient'.",
            "type": "Microsoft.OperationalInsights/workspaces/savedSearches",
            "name": "[concat(parameters('workspaces_ccoe_name'), '/', parameters('savedSearches_LogManagement(ccoe)_LogManagement|CountOfIISLogEntriesByURLRequestedByClient_name'))]",
            "apiVersion": "2015-03-20",
            "scale": null,
            "properties": {
                "DisplayName": "Count of IIS Log Entries by URL requested by client (without query strings)",
                "Category": "Log Management",
                "Query": "search * | extend Type = $table | where Type == W3CIISLog | summarize AggregatedValue = count() by csUriStem\r\n// Oql: Type=W3CIISLog | Measure count() by csUriStem // Args: {OQ: True; WorkspaceId: 00000000-0000-0000-0000-000000000000} // Settings: {PEF: True; SortI: True; SortF: True} // Version: 0.1.122",
                "Version": 2
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: 'subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourceGroups/ccoe/providers/Microsoft.OperationalInsights/workspaces/ccoe/savedSearches/LogManagement(ccoe)_LogManagement|CountOfIISLogEntriesByHostRequestedByClient'.",
            "type": "Microsoft.OperationalInsights/workspaces/savedSearches",
            "name": "[concat(parameters('workspaces_ccoe_name'), '/', parameters('savedSearches_LogManagement(ccoe)_LogManagement|CountOfIISLogEntriesByHostRequestedByClient_name'))]",
            "apiVersion": "2015-03-20",
            "scale": null,
            "properties": {
                "DisplayName": "Count of IIS Log Entries by Host requested by client",
                "Category": "Log Management",
                "Query": "search * | extend Type = $table | where Type == W3CIISLog | summarize AggregatedValue = count() by csHost\r\n// Oql: Type=W3CIISLog | Measure count() by csHost // Args: {OQ: True; WorkspaceId: 00000000-0000-0000-0000-000000000000} // Settings: {PEF: True; SortI: True; SortF: True} // Version: 0.1.122",
                "Version": 2
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: 'subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourceGroups/ccoe/providers/Microsoft.OperationalInsights/workspaces/ccoe/savedSearches/LogManagement(ccoe)_LogManagement|CountOfIISLogEntriesByURLForHost'.",
            "type": "Microsoft.OperationalInsights/workspaces/savedSearches",
            "name": "[concat(parameters('workspaces_ccoe_name'), '/', parameters('savedSearches_LogManagement(ccoe)_LogManagement|CountOfIISLogEntriesByURLForHost_name'))]",
            "apiVersion": "2015-03-20",
            "scale": null,
            "properties": {
                "DisplayName": "Count of IIS Log Entries by URL for the host \"www.contoso.com\" (replace with your own)",
                "Category": "Log Management",
                "Query": "search csHost == \"www.contoso.com\" | extend Type = $table | where Type == W3CIISLog | summarize AggregatedValue = count() by csUriStem\r\n// Oql: Type=W3CIISLog csHost=\"www.contoso.com\" | Measure count() by csUriStem // Args: {OQ: True; WorkspaceId: 00000000-0000-0000-0000-000000000000} // Settings: {PEF: True; SortI: True; SortF: True} // Version: 0.1.122",
                "Version": 2
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: 'subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourceGroups/ccoe/providers/Microsoft.OperationalInsights/workspaces/ccoe/savedSearches/LogManagement(ccoe)_LogManagement|TotalBytesSentByClientIPAddress'.",
            "type": "Microsoft.OperationalInsights/workspaces/savedSearches",
            "name": "[concat(parameters('workspaces_ccoe_name'), '/', parameters('savedSearches_LogManagement(ccoe)_LogManagement|TotalBytesSentByClientIPAddress_name'))]",
            "apiVersion": "2015-03-20",
            "scale": null,
            "properties": {
                "DisplayName": "Total Bytes sent by Client IP Address",
                "Category": "Log Management",
                "Query": "search * | extend Type = $table | where Type == W3CIISLog | summarize AggregatedValue = sum(csBytes) by cIP\r\n// Oql: Type=W3CIISLog | Measure Sum(csBytes) by cIP // Args: {OQ: True; WorkspaceId: 00000000-0000-0000-0000-000000000000} // Settings: {PEF: True; SortI: True; SortF: True} // Version: 0.1.122",
                "Version": 2
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: 'subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourceGroups/ccoe/providers/Microsoft.OperationalInsights/workspaces/ccoe/savedSearches/LogManagement(ccoe)_LogManagement|TotalBytesReceivedByEachAzureRoleInstance'.",
            "type": "Microsoft.OperationalInsights/workspaces/savedSearches",
            "name": "[concat(parameters('workspaces_ccoe_name'), '/', parameters('savedSearches_LogManagement(ccoe)_LogManagement|TotalBytesReceivedByEachAzureRoleInstance_name'))]",
            "apiVersion": "2015-03-20",
            "scale": null,
            "properties": {
                "DisplayName": "Total Bytes received by each Azure Role Instance",
                "Category": "Log Management",
                "Query": "search * | extend Type = $table | where Type == W3CIISLog | summarize AggregatedValue = sum(csBytes) by RoleInstance\r\n// Oql: Type=W3CIISLog | Measure Sum(csBytes) by RoleInstance // Args: {OQ: True; WorkspaceId: 00000000-0000-0000-0000-000000000000} // Settings: {PEF: True; SortI: True; SortF: True} // Version: 0.1.122",
                "Version": 2
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: 'subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourceGroups/ccoe/providers/Microsoft.OperationalInsights/workspaces/ccoe/savedSearches/LogManagement(ccoe)_LogManagement|TotalBytesReceivedByEachIISComputer'.",
            "type": "Microsoft.OperationalInsights/workspaces/savedSearches",
            "name": "[concat(parameters('workspaces_ccoe_name'), '/', parameters('savedSearches_LogManagement(ccoe)_LogManagement|TotalBytesReceivedByEachIISComputer_name'))]",
            "apiVersion": "2015-03-20",
            "scale": null,
            "properties": {
                "DisplayName": "Total Bytes received by each IIS Computer",
                "Category": "Log Management",
                "Query": "search * | extend Type = $table | where Type == W3CIISLog | summarize AggregatedValue = sum(csBytes) by Computer | limit 500000\r\n// Oql: Type=W3CIISLog | Measure Sum(csBytes) by Computer | top 500000 // Args: {OQ: True; WorkspaceId: 00000000-0000-0000-0000-000000000000} // Settings: {PEF: True; SortI: True; SortF: True} // Version: 0.1.122",
                "Version": 2
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: 'subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourceGroups/ccoe/providers/Microsoft.OperationalInsights/workspaces/ccoe/savedSearches/LogManagement(ccoe)_LogManagement|TotalBytesRespondedToClientsByEachIISServerIPAddress'.",
            "type": "Microsoft.OperationalInsights/workspaces/savedSearches",
            "name": "[concat(parameters('workspaces_ccoe_name'), '/', parameters('savedSearches_LogManagement(ccoe)_LogManagement|TotalBytesRespondedToClientsByEachIISServerIPAddress_name'))]",
            "apiVersion": "2015-03-20",
            "scale": null,
            "properties": {
                "DisplayName": "Total Bytes responded back to clients by each IIS ServerIP Address",
                "Category": "Log Management",
                "Query": "search * | extend Type = $table | where Type == W3CIISLog | summarize AggregatedValue = sum(scBytes) by sIP\r\n// Oql: Type=W3CIISLog | Measure Sum(scBytes) by sIP // Args: {OQ: True; WorkspaceId: 00000000-0000-0000-0000-000000000000} // Settings: {PEF: True; SortI: True; SortF: True} // Version: 0.1.122",
                "Version": 2
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: 'subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourceGroups/ccoe/providers/Microsoft.OperationalInsights/workspaces/ccoe/savedSearches/LogManagement(ccoe)_LogManagement|TotalBytesRespondedToClientsByClientIPAddress'.",
            "type": "Microsoft.OperationalInsights/workspaces/savedSearches",
            "name": "[concat(parameters('workspaces_ccoe_name'), '/', parameters('savedSearches_LogManagement(ccoe)_LogManagement|TotalBytesRespondedToClientsByClientIPAddress_name'))]",
            "apiVersion": "2015-03-20",
            "scale": null,
            "properties": {
                "DisplayName": "Total Bytes responded back to clients by Client IP Address",
                "Category": "Log Management",
                "Query": "search * | extend Type = $table | where Type == W3CIISLog | summarize AggregatedValue = sum(scBytes) by cIP\r\n// Oql: Type=W3CIISLog | Measure Sum(scBytes) by cIP // Args: {OQ: True; WorkspaceId: 00000000-0000-0000-0000-000000000000} // Settings: {PEF: True; SortI: True; SortF: True} // Version: 0.1.122",
                "Version": 2
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: 'subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourceGroups/ccoe/providers/Microsoft.OperationalInsights/workspaces/ccoe/savedSearches/LogManagement(ccoe)_LogManagement|AverageHTTPRequestTimeByClientIPAddress'.",
            "type": "Microsoft.OperationalInsights/workspaces/savedSearches",
            "name": "[concat(parameters('workspaces_ccoe_name'), '/', parameters('savedSearches_LogManagement(ccoe)_LogManagement|AverageHTTPRequestTimeByClientIPAddress_name'))]",
            "apiVersion": "2015-03-20",
            "scale": null,
            "properties": {
                "DisplayName": "Average HTTP Request time by Client IP Address",
                "Category": "Log Management",
                "Query": "search * | extend Type = $table | where Type == W3CIISLog | summarize AggregatedValue = avg(TimeTaken) by cIP\r\n// Oql: Type=W3CIISLog | Measure Avg(TimeTaken) by cIP // Args: {OQ: True; WorkspaceId: 00000000-0000-0000-0000-000000000000} // Settings: {PEF: True; SortI: True; SortF: True} // Version: 0.1.122",
                "Version": 2
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: 'subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourceGroups/ccoe/providers/Microsoft.OperationalInsights/workspaces/ccoe/savedSearches/LogManagement(ccoe)_LogManagement|AllSyslog'.",
            "type": "Microsoft.OperationalInsights/workspaces/savedSearches",
            "name": "[concat(parameters('workspaces_ccoe_name'), '/', parameters('savedSearches_LogManagement(ccoe)_LogManagement|AllSyslog_name'))]",
            "apiVersion": "2015-03-20",
            "scale": null,
            "properties": {
                "DisplayName": "All Syslogs",
                "Category": "Log Management",
                "Query": "Syslog | sort by TimeGenerated desc\r\n// Oql: Type=Syslog // Args: {OQ: True; WorkspaceId: 00000000-0000-0000-0000-000000000000} // Settings: {PTT: True; SortI: True; SortF: True} // Version: 0.1.122",
                "Version": 2
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: 'subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourceGroups/ccoe/providers/Microsoft.OperationalInsights/workspaces/ccoe/savedSearches/LogManagement(ccoe)_LogManagement|AllSyslogsWithErrors'.",
            "type": "Microsoft.OperationalInsights/workspaces/savedSearches",
            "name": "[concat(parameters('workspaces_ccoe_name'), '/', parameters('savedSearches_LogManagement(ccoe)_LogManagement|AllSyslogsWithErrors_name'))]",
            "apiVersion": "2015-03-20",
            "scale": null,
            "properties": {
                "DisplayName": "All Syslog Records with Errors",
                "Category": "Log Management",
                "Query": "Syslog | where SeverityLevel == \"error\" | sort by TimeGenerated desc\r\n// Oql: Type=Syslog SeverityLevel=error // Args: {OQ: True; WorkspaceId: 00000000-0000-0000-0000-000000000000} // Settings: {PTT: True; SortI: True; SortF: True} // Version: 0.1.122",
                "Version": 2
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: 'subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourceGroups/ccoe/providers/Microsoft.OperationalInsights/workspaces/ccoe/savedSearches/LogManagement(ccoe)_LogManagement|AllSyslogByFacility'.",
            "type": "Microsoft.OperationalInsights/workspaces/savedSearches",
            "name": "[concat(parameters('workspaces_ccoe_name'), '/', parameters('savedSearches_LogManagement(ccoe)_LogManagement|AllSyslogByFacility_name'))]",
            "apiVersion": "2015-03-20",
            "scale": null,
            "properties": {
                "DisplayName": "All Syslog Records grouped by Facility",
                "Category": "Log Management",
                "Query": "Syslog | summarize AggregatedValue = count() by Facility\r\n// Oql: Type=Syslog | Measure count() by Facility // Args: {OQ: True; WorkspaceId: 00000000-0000-0000-0000-000000000000} // Settings: {PTT: True; SortI: True; SortF: True} // Version: 0.1.122",
                "Version": 2
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: 'subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourceGroups/ccoe/providers/Microsoft.OperationalInsights/workspaces/ccoe/savedSearches/LogManagement(ccoe)_LogManagement|AllSyslogByProcessName'.",
            "type": "Microsoft.OperationalInsights/workspaces/savedSearches",
            "name": "[concat(parameters('workspaces_ccoe_name'), '/', parameters('savedSearches_LogManagement(ccoe)_LogManagement|AllSyslogByProcessName_name'))]",
            "apiVersion": "2015-03-20",
            "scale": null,
            "properties": {
                "DisplayName": "All Syslog Records grouped by ProcessName",
                "Category": "Log Management",
                "Query": "Syslog | summarize AggregatedValue = count() by ProcessName\r\n// Oql: Type=Syslog | Measure count() by ProcessName // Args: {OQ: True; WorkspaceId: 00000000-0000-0000-0000-000000000000} // Settings: {PTT: True; SortI: True; SortF: True} // Version: 0.1.122",
                "Version": 2
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: 'subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourceGroups/ccoe/providers/Microsoft.OperationalInsights/workspaces/ccoe/savedSearches/LogManagement(ccoe)_General|dataPointsPerManagementGroup'.",
            "type": "Microsoft.OperationalInsights/workspaces/savedSearches",
            "name": "[concat(parameters('workspaces_ccoe_name'), '/', parameters('savedSearches_LogManagement(ccoe)_General|dataPointsPerManagementGroup_name'))]",
            "apiVersion": "2015-03-20",
            "scale": null,
            "properties": {
                "DisplayName": "Which Management Group is generating the most data points?",
                "Category": "General Exploration",
                "Query": "search * | summarize AggregatedValue = count() by ManagementGroupName\r\n// Oql: * | Measure count() by ManagementGroupName // Args: {OQ: True; WorkspaceId: 00000000-0000-0000-0000-000000000000} // Settings: {PTT: True; SortI: True; SortF: True} // Version: 0.1.122",
                "Version": 2
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: 'subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourceGroups/ccoe/providers/Microsoft.OperationalInsights/workspaces/ccoe/savedSearches/LogManagement(ccoe)_General|dataTypeDistribution'.",
            "type": "Microsoft.OperationalInsights/workspaces/savedSearches",
            "name": "[concat(parameters('workspaces_ccoe_name'), '/', parameters('savedSearches_LogManagement(ccoe)_General|dataTypeDistribution_name'))]",
            "apiVersion": "2015-03-20",
            "scale": null,
            "properties": {
                "DisplayName": "Distribution of data Types",
                "Category": "General Exploration",
                "Query": "search * | extend Type = $table | summarize AggregatedValue = count() by Type\r\n// Oql: * | Measure count() by Type // Args: {OQ: True; WorkspaceId: 00000000-0000-0000-0000-000000000000} // Settings: {PTT: True; SortI: True; SortF: True} // Version: 0.1.122",
                "Version": 2
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: 'subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourceGroups/ccoe/providers/Microsoft.OperationalInsights/workspaces/ccoe/savedSearches/LogManagement(ccoe)_General|AlphabeticallySortedComputers'.",
            "type": "Microsoft.OperationalInsights/workspaces/savedSearches",
            "name": "[concat(parameters('workspaces_ccoe_name'), '/', parameters('savedSearches_LogManagement(ccoe)_General|AlphabeticallySortedComputers_name'))]",
            "apiVersion": "2015-03-20",
            "scale": null,
            "properties": {
                "DisplayName": "All Computers with their most recent data",
                "Category": "General Exploration",
                "Query": "search not(ObjectName == \"Advisor Metrics\" or ObjectName == \"ManagedSpace\") | summarize AggregatedValue = max(TimeGenerated) by Computer | limit 500000 | sort by Computer asc\r\n// Oql: NOT(ObjectName=\"Advisor Metrics\" OR ObjectName=ManagedSpace) | measure max(TimeGenerated) by Computer | top 500000 | Sort Computer // Args: {OQ: True; WorkspaceId: 00000000-0000-0000-0000-000000000000} // Settings: {PTT: True; SortI: True; SortF: True} // Version: 0.1.122",
                "Version": 2
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: 'subscriptions/f30702c5-148a-4ea6-baec-cca1d09e6c14/resourceGroups/ccoe/providers/Microsoft.OperationalInsights/workspaces/ccoe/savedSearches/LogManagement(ccoe)_General|StaleComputers'.",
            "type": "Microsoft.OperationalInsights/workspaces/savedSearches",
            "name": "[concat(parameters('workspaces_ccoe_name'), '/', parameters('savedSearches_LogManagement(ccoe)_General|StaleComputers_name'))]",
            "apiVersion": "2015-03-20",
            "scale": null,
            "properties": {
                "DisplayName": "Stale Computers (data older than 24 hours)",
                "Category": "General Exploration",
                "Query": "search not(ObjectName == \"Advisor Metrics\" or ObjectName == \"ManagedSpace\") | summarize lastdata = max(TimeGenerated) by Computer | limit 500000 | where lastdata < ago(24h)\r\n// Oql: NOT(ObjectName=\"Advisor Metrics\" OR ObjectName=ManagedSpace) | measure max(TimeGenerated) as lastdata by Computer | top 500000 | where lastdata < NOW-24HOURS // Args: {OQ: True; WorkspaceId: 00000000-0000-0000-0000-000000000000} // Settings: {PTT: True; SortI: True; SortF: True} // Version: 0.1.122",
                "Version": 2
            },
            "dependsOn": []
        }
    ]
}